{
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 100,
  "overrides": [
    {
      "files": [
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
